button{
    margin-right: 10px;
   
    
    margin-top: 15px;
   
}


th{
    text-align: center;
}
td{
    text-align: center;
}


.textonly{
    padding: 30px 0;
}

.table-responsive{
    margin-top: 50px;
}

.table-striped{
    margin-top: 50px;
}

.bg-gradient-info{
   
        float: right;
        //margin-right: 90px;
}

.bg-gradient-warning{
        
        float: left;
        //margin-right: 90px;
}
.to-pad{
    padding-top: 20px;
}
.to-pad-info{
    padding-top: 10px;
}
option{
    font-size: 18px;
}

label{
    font-size: 20px;
}
