button{
    margin-right: 10px;
   
    
    margin-top: 15px;
   
}


th{
    text-align: center;
}
td{
    text-align: center;
}


.textonly{
    padding: 30px 0;
}

.table-responsive{
    margin-top: 50px;
}

.table-striped{
    margin-top: 50px;
}

.bg-gradient-info{
    
        float: right;
        //margin-right: 90px;
}