
    <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Section</th>
                  <th scope="col">Price</th>
                  <th scope="col">Size</th>
                  <th scope="col">Container Type</th>
                  <th scope="col">Product Type</th>
                  <th scope="col">Lot</th>
                  
                  <th scope="col">Fragile</th>
                  <th scope="col">Color</th>
              
                  <th scope="col">Action</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of product_list">
                  <td class="textonly">{{product.product_id}}</td>
                  <td class="textonly">({{product.section_assigned.section_id}}) {{product.section_assigned.product_type}}</td>
                  <td class="textonly">{{product.price}} $</td>

                  <td class="textonly">{{product.length*product.width | number : '1.2-2'}}m² ({{product.length}}x{{product.width}})</td>
                  
                  <td class="textonly">{{product.container_type}}</td>
                  <td class="textonly">{{product.product_type}}</td>
                  <td class="textonly">{{product.lot}}</td>
                  <td class="textonly">{{product.is_fragile}}</td>
                  <td class="textonly">{{product.color}}</td>
                  <td>
                    <button class="column4 btn btn-outline-dark"  >Edit</button>
                    <button class="column4 btn btn-outline-danger" >Delete</button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
