<section>
    <div class="container py-4">



        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
            <h3 class="text-center">{{header_message}}</h3>
            <form [formGroup]="formvalue" (ngSubmit)="save()" role="form" id="contact-form" method="post" autocomplete="off">
                <div class="card-body">
                    <label>Type of Product</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="product_type">
                                      
                                      <option selected value="ELECTRICAL_MATERIALS">Electrical Materials</option>
                                      <option value="EQUIPMENT">Equipment</option>
                                      <option value="LOCKSMITH">Locksmith</option>
                                      <option value="TOOLS">Tools</option>
                                      <option value="PLUMBING">Plumbing</option>
                                    </select>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Section</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="section_id" required>
                                        <option selected value="1">Select a section</option>
                                  <option  *ngFor="let section of section_list" >{{section.section_id}}  </option>
                                  
                                 </select>
                                <span class="text-danger">
                                    <p>{{section_message}}</p>
                                 </span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label>Lot</label>
                                <div class="input-group mb-4">
                                    <input class="form-control" aria-label="First Name..." type="text" [(ngModel)]="update_lot" formControlName="lot" pattern="[0-9]+">
                                </div>
                                <span class="text-danger" *ngIf="( submitted && !createFormControl.lot.valid) ">
                                    Only numbers allowed
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label>Length</label>
                                <div class="input-group mb-4">
                                    <input class="form-control"  aria-label="First Name..." type="text" [(ngModel)]="update_length" formControlName="length" pattern="[0-9]+">
                                </div>
                                <span class="text-danger" *ngIf="( submitted && !createFormControl.length.valid) ">
                                    Only numbers allowed
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label>Width</label>
                                <div class="input-group mb-4">
                                    <input class="form-control"  aria-label="First Name..." type="text" [(ngModel)]="update_width" formControlName="width" pattern="[0-9]+">
                                </div>
                                <span class="text-danger" *ngIf="( submitted && !createFormControl.width.valid) ">
                                    Only numbers allowed
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label>Price</label>
                                <div class="input-group mb-4">
                                    <input class="form-control"  aria-label="First Name..." type="text" formControlName="price" [(ngModel)]="update_price" pattern="[0-9]+">
                                </div>
                                <span class="text-danger" *ngIf="( submitted && !createFormControl.price.valid) ">
                                    Only numbers allowed
                                </span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label>Color</label>
                                <div class="input-group mb-4">
                                    <input class="form-control"  aria-label="First Name..." type="text" formControlName="color" [(ngModel)]="update_color" pattern="[a-zA-Z]+">
                                </div>
                                <span class="text-danger" *ngIf="( submitted && !createFormControl.color.valid) ">
                                    Only letters allowed
                                </span>
                            </div>

                        </div>
                    </div>


                    <label>Container Material</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="container_type">                            
                         <option selected value="CARTON">Carton</option>
                         <option value="PLASTIC">Plastic</option>
                         <option value="GLASS">Glass</option>
                         <option value="NYLON">Nylon</option>
                    </select>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-switch mb-4">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="is_fragile">
                                <h5>Fragile Product</h5>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn bg-gradient-dark w-100">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



